__pycache__/
Database/__pycache__/
Modulos/Database/__pycache__/
Modulos/Cliente/__pycache__/
imagens/__pycache__/
Modulos/Cliente/CriarCodigoBotões.py
.gitignore
Modulos/Cliente/TESTE.PY
Modulos/Cliente/Navegador.PY
Modulos/Cliente/text.py
Modulos/Mei/CriarBotões.py
build/
login.spec
teste.py
teste.spec
dist/teste/teste.exe
dist/teste/_internal/_decimal.pyd
dist/teste/_internal/_lzma.pyd
dist/teste/_internal/python312.dll
dist/teste/_internal/VCRUNTIME140.dll
dist/teste/_internal
dist/teste.exe
Datavix.spec
DatavixAPP_Update.spec
DatavixAPP.spec
dist/DatavixAPP_Update.exe
dist/Datavix.exe
dist/DatavixAPP.exe
deploly
