__pycache__/
__pycache__/mei.cpython-312.pyc
__pycache__/PainelDatavix.cpython-312.pyc
Database/__pycache__/
Database/__pycache__/Clients.cpython-312.pyc
Modulos/Database/__pycache__/Clients.cpython-312.pyc
Modulos/Database/__pycache__/Users.cpython-312.pyc
Modulos/Cliente/__pycache__/
imagens/__pycache__/
Modulos/Database/__pycache__/
Modulos/Cliente/__pycache__/Func_mei.cpython-312.pyc
Modulos/Cliente/CriarCodigoBotões.py
